<section class="container col-sm-12 col-md-12 text-center bannerAngular">
    <div class="col-md-6 col-sm-12 col-xs-12 my-auto">
        <img src="../../assets/angular_logo.png" alt="Angular" class="col-md-10 col-sm-12 col-xs-12">
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12 text-justify angular">
        <h1>O que é Angular?</h1>
        <h3>Aqui você verá os principais elementos que compõem este Freamwork e como utilizá-los.</h3>
    </div>
</section>

<section class="col-md-12">
    <div class="col col-sm-12 col-md-12 col-xs-12 text-justify">
        <div class="text-center historia">
            <h1>História e funcionalidade</h1>
            <hr>
            <p>
                O framework é um conceito de Misko Hevery e Adam Abrons, engenheiros da Google. A empresa lançou a
                primeira versão do AngularJS em 2012 e tem mantido o serviço ativo desde então com atualizações e
                melhorias.
            </p>
        </div>

        <section class="row col-11 text-right sec1">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <img src="../../assets/google_io.webp" alt="google_io" class="col-xs-12">
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 text-justify textAngular">
                <p>
                    O AngularJS é um framework de código aberto usado para construir aplicativos para web baseados em
                    uma
                    única
                    página dinâmica.
                </p>
                <p>
                    O AngularJS usa a arquitetura Model-View-Controller (MCV), que é usado no desenvolvimento de apps
                    para a
                    internet. Esse tipo de arquitetura consiste em:
                </p>
                <ul>
                    <li>
                        Model (Modelo) – a estrutura de dados que gerencia a informação e recebe comandos do controle.
                    </li>
                    <li>
                        View (Visão) – a representação da informação.</li>
                    <li>
                        Controller (Controle) – responde aos comandos e interage com o modelo.
                    </li>
                </ul>
            </div>
        </section>

    </div>
</section>
<div class="container col-sm-12 col-md-12 text-center tecnologias">
    <div class="section-title text-center">
        <h1 class="small-caps">O que é necessário para começar?!
        </h1>
        <div class="border-bottom-titles mt-1"></div>

        <p class="lead">Para começar a ultilizar esse Framework, primeiro é bom ter uma noção das
            seguintes tecnologias:
        </p>
    </div>

    <section class="working-area">
        <section class="col-md-12 text-center tecnologias">
            <!--Start single working item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-working-item">
                    <div class="icon-box">
                        <div class="icon">
                            <div class="flaticon-people">
                                <img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582748_1280.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-box text-center">
                        <h3 class="subtitle">HTML 5</h3>

                        <p class="lead">A principal vizualização da sua página ficará nos códigos HTML</p>
                    </div>
                </div>
            </div>
            <!--End single working item-->

            <!--Start single working item-->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-working-item">
                    <div class="icon-box">
                        <div class="icon">
                            <div class="flaticon-people">
                                <img src="https://cdn.pixabay.com/photo/2017/08/05/11/16/logo-2582747_1280.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-box text-center">
                        <h3 class="subtitle">CSS 3 </h3>

                        <p class="lead">Utilizaremos CSS para a estilização de nossa página.</p>
                    </div>
                </div>
            </div>


            <!--End single working item-->

            <!--Start single working item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-working-item">
                    <div class="icon-box">
                        <div class="icon">
                            <div class="flaticon-people">
                                <img src="https://cdn3.iconfinder.com/data/icons/basicolor-file-types/24/140_js_javascript_code-1024.png"
                                    alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-box text-center">

                        <h3 class="subtitle">JavaScript</h3>

                        <p class="lead">Em conjunto com o TypeScript, Permite que consigamos obter a
                            vizualização em vários navegadores.</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<section class="container text-justify porq">
    <h1 class=" text-center">Por que aprender Angular?</h1>
    <section class="row col-12 text-center">
        <div class="col-sm-12 col-md-6 col-sm-12">
            <img src="https://images.pexels.com/photos/106344/pexels-photo-106344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Estatística" class="col-sm-12 col-md-12 col-xs-12">
        </div>

        <div class="col-sm-12 col-md-6 text-right textAngular">
            <h2>Mercado de Trabalho</h2>
            <p>
                Se você já está envolvido na área de programação, certamente já ouviu falar sobre Angular.
            </p>
            <p>
                Este Freamwork está crescendo imensurávelmente. As empresas estão cada vez mais interessadas em programadores em Angular
            </p>
        </div>
    </section>

    <section class="row col-12 text-center">
        <div class="col-sm-12 col-md-6 text-left angular">
            <h2>Praticidade</h2>
            <p>
                Os códigos são organizados em uma estrutura de simples entendimento e manutenção, já que as funcionalidades disponíveis permitem modularidade e quebram o código em pedaços.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-sm-12">
            <img src="https://images.pexels.com/photos/4665064/pexels-photo-4665064.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                alt="Computador" class="col-sm-12 col-md-12 col-xs-12">
        </div>
    </section>
</section>
    
<section class="col-md-12 banner2">
    <img src="../../assets/scott-webb-E0f9iLMTuVQ-unsplash (1).jpg" alt="fundo" class="banner-img">
    <div class="col-md-12 overlay2">
      <h2>Agora que você já conhece o Angular. Podemos começar à utilizá-lo.</h2>
      <button class="btn danger">Certo, Vamos lá</button>
    </div>
  </section>
<hr>
    <!-- 
<div class="sec2">
    No contexto do AngularJS, o modelo é o framework, enquanto a visão é o HTML e o controle é o JavaScript.
    Assim,
    o AngularJS também pode ser chamado de framework Angular ou Angular Java.
    <br>
    Resumidamente, o Angular nos ajuda a criar Single-Page Applications com uma qualidade e produtividade
    surpeendente!

    <h2>TypeScript</h2>
    O Angular foi desenvolvido em TypeScript, e essa linguagem é a mais usada para aplicações Angular e a que
    mais
    encontramos documentações.
    <br>
    O TypeScript é uma linguagem de programação criada pela Microsoft. Ela é um superset do JavaScript, ou seja,
    faz
    tudo o que o JavaScript faz e ainda mais algumas coisas.
    Uma das coisas legais ao escolher TypeScript é a possibilidade de utilizar os recursos mais recentes do
    JavaScript, que ainda não funcionam nos navegadores.
    <br>

    Os navegadores (browsers) não conseguem executar código TypeScript, por isso, o que acontece é que os
    desenvolvedores escrevem códigos em TypeScript e esses códigos são transpilados para JavaScript.

    Transpilação é parecido com a compilação, mas ao invés de gerar um código de mais baixo nível, é gerado o
    código
    em outra linguagem, ou na mesma linguagem, só que com o objetivo de deixar compatível com o ambiente que vai
    ser
    executado.

    <h2>
        Utilizando TypeScript
    </h2>
    Para iniciar um projeto com com TypeScript, é necessário ter o npm instalado na sua máquina. Inicie um
    projeto Node.js com o comando:
    <br>

    <code> <h4> npm init -y</h4></code>

    <br>
    Agora, vamos adicionar o TypeScript ao nosso projeto. Para isso, execute o comando:
    <br>

    <code><h4>npm install typescript -D</h4></code>

    <br>
    Agora, como TypeScript instalado, devemos iniciar um arquivo que constará todas as configurações básicas do
    TypeScript. Esse arquivo é gerado automaticamente usando o comando:

    <code><h4>npx tsc –init</h4></code>

    <br>
    Agora, para executar o TypeScript, precisamos do módulo TypeScript Node Dev instalado. Para instalar use o
    comando:
    <code><h4> npm install ts-node-dev -D</h4></code>
    <br>
    Agora com tudo configurado e com o script apontando para seu arquivo TypeScript, execute na linha de comando
    o seguinte comando
    <code><h4> npm run dev</h4></code>
    e você verá seu arquivo TypeScript ser executado normalmente.
</div> -->