.bannerComponents{
  background-image: linear-gradient(to left, hsl(213, 96%, 60%) 50%,hsl(213, 71%, 54%) 50%);
  color: #ffffff;
  margin-bottom: 4vw;
}

.bannerComponents h1{
  margin-bottom: 4vw;
  
}

.imgBanner{
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(12px 12px 12px rgba(0, 0, 0, 0.7));
}

.h1{
  margin-top: 3vw;
  color: hsl(213, 96%, 60%);
}

strong{
  color: #dd0031;
}

pre{
    background-color: #1e1e1e; 
    color: #9cdcfe;
}

.roxo{
 color: #c586c0; 
}
.branco{
  color: #d4d4d4;
}
.azul{
  color: #9cdcfe;
}
.azulEscuro{
  color: #569cd6;
}
.verde{
  color: #4ec9b0;
}
.laranja{
  color: #ce9178;
}
.amarelo{
  color: #dcdcaa;
}